useDynLib("Beaty", .registration=TRUE)
importFrom(graphics, abline, axis, layout, legend, mtext, par, plot,
	   polygon, rect, segments, text)
importClassesFrom(mybase, LogRatioSet)
importMethodsFrom(Biobase, annotatedDataFrameFrom)
importFrom(Biobase, assayDataElementReplace)
importMethodsFrom(mybase, baf, "baf<-")
importMethodsFrom(mybase, logR, "logR<-")
importFrom(mybase, unique)
importClassesFrom(IRanges, RangedData, IRanges, DataTable, Vector, Annotated, List, DataTableORNULL)
importMethodsFrom(IRanges, start, end)
importMethodsFrom(oligoClasses, open, close)
importFrom(oligoClasses, isFF)
##exportPattern("^[^\\.]")
exportClasses(RangedDataCNV, TrioSet)
exportMethods(plot, nMarkers, state, copyNumber, open, close)
export(ssampleNames, sssampleNames, ss, s, fullId)
export(beadstudiodir,
       calculateMinimumDistance,
       completeTrios, getAllBayesFactorRanges,
       isDenovo, readPennCnv, harmonizeStates, pennStats,
       pennDenovoFreq, readCbsBatchFiles, readPedfile,
       segmentMD,
       wrapperPosteriorProbs)


