useDynLib("MinimumDistance", .registration=TRUE)
importFrom(utils, setTxtProgressBar, txtProgressBar, stack)
importFrom(graphics, abline, axis, layout, legend, mtext, par, plot,
	   polygon, rect, segments, text)
importClassesFrom(Biobase, eSet)
importMethodsFrom(Biobase, annotatedDataFrameFrom, updateObject, "[", "$")
importFrom(Biobase, assayDataElementReplace, sampleNames, varLabels, rowMedians, "sampleNames<-")
importFrom(stats, mad)
importClassesFrom(IRanges, RangedData, IRanges,
		  DataTable, Vector, Annotated,
		  List, SimpleList, CompressedList,
		  IntervalTree, RangesList, SimpleRangesList,
		  RangedDataList,
		  DataFrame,
		  DataTableORNULL)
importMethodsFrom(IRanges, start, end, width,"[", "[[","[<-", "[[<-", "$",
		  nrow, "start<-", "end<-", rbind)
importFrom(IRanges, IRanges, RangedData, RangedDataList,
	   findOverlaps, countOverlaps,
	   ranges, values,
	   matchMatrix, queryHits, subjectHits)
##importMethodsFrom(oligoClasses, open, close)
##importFrom(oligoClasses, isFF, getBar)
importFrom(ff, filename)
importFrom(DNAcopy, CNA, segment, smooth.CNA, getbdry)
exportClasses(DataFrameCNV, RangedDataCNV, RangedDataCBS, RangedDataHMM,
	      TrioSet, LogRatioSet, TrioSetList)
exportMethods("[", baf, "baf<-",
	      calculateMindist,
	      computeBayesFactor,
	      ##copyNumber,
	      coverage,
	      fatherNames,
	      logR, "logR<-",
	      mad, "mad<-",
	      mindist, "mindist<-",
	      motherNames,
	      ncol,
	      nrow,
	      offspringNames,
	      phenoData2, "phenoData2<-",
	      prune,
	      rbind,
	      state,
	      updateObject,
	      width,
	      xsegment,
	      xyplot)
export("[", completeTrios,
       concAtTop,
       correspondingCall,
       discAtTop,
       fmoNames,
       fullId,
       getKey,
       gridlayout,
       isDenovo,
       loadBatchFiles,
       minimumDistance,
       minimumDistanceCalls,
       my.xypanel,
       narrow,
       plotRange,
       prepanel.fxn,
       RangedDataCNV,
       RangedDataCBS,
       RangedDataHMM,
       ssampleNames,
       sssampleNames, ss, s,
       todf,
       xypanel)


