useDynLib("Beaty", .registration=TRUE)
importFrom(graphics, abline, axis, layout, legend, mtext, par, plot,
	   polygon, rect, segments, text)

importClassesFrom(Biobase, eSet)
importMethodsFrom(Biobase, annotatedDataFrameFrom, updateObject)
importFrom(Biobase, assayDataElementReplace, sampleNames, varLabels, rowMedians, "sampleNames<-")

importFrom(stats, mad)


importClassesFrom(IRanges, RangedData, IRanges, DataTable, Vector, Annotated, List, DataTableORNULL)
importMethodsFrom(IRanges, start, end, "[", "[[","[<-", "[[<-", "$")##, stack, rbind)
importFrom(IRanges, IRanges, RangedData, RangedDataList)

importMethodsFrom(oligoClasses, open, close)
importFrom(oligoClasses, isFF, getBar)

importFrom(ff, filename)

importFrom(DNAcopy, CNA, segment, smooth.CNA, getbdry)

importFrom(lattice, xyplot)

##exportPattern("^[^\\.]")
exportClasses(DataFrameCNV, RangedDataCNV, RangedDataCBS, RangedDataHMM,
	      TrioSet, LogRatioSet, TrioSetList)
exportMethods(baf, "baf<-",
	      calculateMindist,
	      computeBayesFactor,
	      copyNumber,
	      coverage,
	      fatherNames,
	      logR, "logR<-",
	      mad, "mad<-",
	      mindist, "mindist<-",
	      motherNames,
	      ncol,
	      nrow,
	      offspringNames,
	      phenoData2, "phenoData2<-",
	      prune,
	      state,
	      updateObject,
	      xsegment,
	      xyplot)
export(beadstudiodir,
       completeTrios,
       concAtTop,
       fmoNames,
       fullId,
       getAllBayesFactorRanges,
       getKey,
       gridlayout,
       harmonizeStates,
       isDenovo,
       loadBatchFiles,
       minimumDistance,
       my.xypanel,
       pennDenovoFreq,
       pennStats,
       prepanel.fxn,
       readPedfile,
       readPennCnv,
       readPennFiles,
       RangedDataCNV,
       RangedDataCBS,
       RangedDataHMM,
       ssampleNames, sssampleNames, ss, s,
       wrapperPosteriorProbs)


